first/ship/shiporder.dtd

<!ELEMENT shiporder (oderperson,shipto,item+)>
<!ATTLIST orderid shiporder type CDATA ">
<!ELEMENT orderperson (#PCDATA)>
<!ELEMENT shipto (name,address,city,country)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT item (title,note?,quantity,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT price (#PCDATA)>


